@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital@1&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family:  'Roboto', sans-serif;;
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0px;
}
.row input{
    width: 290px;
    font-size: 20px;
    margin: 0px;
    padding: 10px 0px;
    border-radius: 6px;
    border: 2px solid black;
}